<ion-view title="Próximas Peladas" hide-back-button="false" enable-menu-with-back-views="false">
    <ion-content overflow-scroll="true" padding="true" class="has-header padding scroll-bg">
        
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.listaPresenca">
                <img ng-src="img/img.jpg">
                <h2>UNISYS</h2>
                <p>03/02/2016 19:00 colocar botoes confirmar desconfirmar</p>
                <div class="buttom-bar">
                    <button class="button button-small icon-left ion-checkmark-circled button-confirmar" style="font-size:10px !important">Vou</button>
                    <button class="button button-small icon-left ion-close-circled button-assertive" style="font-size:10px !important">Não</button>
                    
                </div>
                
            </ion-item>

            <ion-item class="item-thumbnail-left" ui-sref="menu.listaPresenca">
                <img ng-src="img/img.jpg">
                <h2>UNISYS</h2>
                <p>03/02/2016 19:00 colocar botoes confirmar desconfirmar</p>
                <div class="buttom-bar">
                    <button class="button button-small icon-left ion-checkmark-circled button-confirmar" style="font-size:10px !important">Vou</button>
                    <button class="button button-small icon-left ion-close-circled button-assertive" style="font-size:10px !important">Não</button>
                    
                </div>
                
            </ion-item>

            <ion-item class="item-thumbnail-left" ui-sref="menu.listaPresenca">
                <img ng-src="img/img.jpg">
                <h2>UNISYS</h2>
                <p>03/02/2016 19:00 colocar botoes confirmar desconfirmar</p>
                <div class="buttom-bar">
                    <button class="button button-small icon-left ion-checkmark-circled button-confirmar" style="font-size:10px !important">Vou</button>
                    <button class="button button-small icon-left ion-close-circled button-assertive" style="font-size:10px !important">Não</button>
                    
                </div>
                
            </ion-item>
     
        </ion-list>
    </ion-content>
</ion-view>


<!--
<div class="item-confirmar">
                    <a  href="#">
                        <i class="icon ion-thumbsup" style="color:green"></i>
                    </a>
                    <a  href="#">
                        <i class="icon ion-thumbsdown" style="color:red"></i>
                    </a>
                </div>
-->