<ion-view title="inicial" hide-back-button="true" enable-menu-with-back-views="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>PROXIMAS PELADAS</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="menu.listaPresenca">
                <img>
                <h2>UNISYS</h2>
                <p>25/12/2015 19:00 colocar botoes confirmar desconfirmar</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>UNISYS</h2>
                <p>25/12/2015 19:00</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>UNISYS</h2>
                <p>25/12/2015 19:00</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>