<ion-view title="ListaGrupo" hide-back-button="true" >
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Grupo1</h2>
                <p>Grupo2</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Grupo2</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <a ui-sref="menu.grupo" class="button button-stable button-block ">Novo Grupo</a>
    </ion-content>
</ion-view>