<ion-view title="Lista presenca" hide-back-button="true" enable-menu-with-back-views="false">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Confirmados</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Total</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Não Confirmados</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Total</div>
        </div>
        <a ui-sref="menu.avulso" class="button button-stable button-block ">Adicionar avulso</a>
        <a ui-sref="menu.telaPeladaExecucao" class="button button-stable button-block ">Iniciar Pelada</a>
    </ion-content>
</ion-view>