<ion-view title="Lista presenca" hide-back-button="true" enable-menu-with-back-views="false">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card balanced">
            <div class="item item-divider">Confirmados</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    
                </ion-list>
            </div>
            <div class="item item-divider">Total</div>
        </div>
        
       
      
    </ion-content>
</ion-view>