<ion-side-menus >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button class="no-text"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="gradiente">
        <ion-content padding="false" class="side-menu-left" ion-content="">
            <ion-list class="listaMenu">

                <a class="item item-avatar item-text-wrap" href="#" style="">
                    <img class="avatar" src="img/avatar.jpg" id="side-menu-img">
                    <div class="side-menu-info">
                        <h2 class="corTexto"><b>Davidson</b></h2>
                        
                    </div>
                </a>
                <a  nav-clear menu-close class="item item-icon-left" href="#/menu-lateral/inicial">
                    <i class="icon ion-ios-home-outline"></i> Inicial
                </a>

                <a nav-clear menu-close class="item item-icon-left " href="#/menu-lateral/agendarPelada">
                    <i class="icon ion-ios-football-outline"></i> Pelada  
                </a>

                <a nav-clear menu-close class="item item-icon-left" href="#/menu-lateral/liga">
                    <i class="icon ion-android-globe"></i> Liga
                </a>

                <a nav-clear menu-close class="item item-icon-left" href="#">
                    <i class="icon ion-ios-star-outline"></i> Ranks
                </a>
                
                 <a nav-clear menu-close class="item item-icon-left" href="#">
                    <i class="icon ion-person-stalker"></i> Perfil
                    <span class="badge badge-assertive">Dibres 0</span>
                </a>
                
                <a nav-clear menu-close class="item item-icon-left" href="#/sair">
                    <i class="icon ion-power"></i> Sair
                </a>



            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>