<ion-view title="Tela pelada execucao" hide-back-button="true" enable-menu-with-back-views="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Time um</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Vitorias</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Time tres</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Vitorias</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Time dois</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Vitorias</div>
        </div>
    </ion-content>
</ion-view>