<ion-view title="Jogador" id="page28">
<ion-content overflow-scroll="true" padding="true" class="has-header">




<div class="row">
	
<div class="col col-90">
	
	<button style="border-radius: 60px;" id="jogador-button4" ng-click="ctrl.addJogador()" class="button button-balanced  button-block"><i class="icon ion ion-android-person-add "></i></button>

</div>


<div  style="margin-top: 17px;text-align: end;"class="col">
	
	<h3>{{ctrl.jogadores.length}}</h3>

</div>

</div>









<ion-list>



<div ng-repeat="jogador in ctrl.jogadores">
<ion-item  ng-class="{'jogadorAtivo': !jogador.ativo}">


<div class="row" >
	<div class="col col-50">
		<label class="item item-input">
			<input type="text" ng-model="jogador.nome" placeholder="Nome"> </input>
		</label>



	</div>



	<div class="col col-50">
		
		

		<select class="item item-input item-select" ng-model="jogador.nota">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option >5</option>
			<option>6</option>
			<option>7</option>
			<option >8</option>
			<option>9</option>
			<option>10</option>
		</select>
		

	</div>


</div>


<ion-option-button class="button-balanced button-small"
ng-click="ctrl.removerJogador(jogador)">

<i class="icon  ion-android-close"></i>

</ion-option-button>


<ion-option-button class="button-assertive button-small"
ng-click="ctrl.desabilitarJogador(jogador)">

<i class="icon  ion-ios-body-outline"></i>

</ion-option-button>


</ion-item>
</div>

</ion-list>



</ion-content>
</ion-view>