<ion-view title="Jogador" id="page28">
<ion-content overflow-scroll="true" padding="true" class="has-header">







<button class="button button-fab button-fab-top-right expanded button-balanced" ng-click="jogadorCtrl.addJogador()">
	
 <i class="icon ion ion-android-add"></i>

</button>


<ion-list>




<ion-item ng-repeat="jogador in jogadorCtrl.jogadores">


<div class="row">
	<div class="col col-50">
		<label class="item item-input">
			<input type="text" ng-model="jogador.nome" placeholder="Nome">
		</label>



	</div>

	<div class="col col-50">
		
		
		<label class="item item-input item-select">
			<div class="input-label">
				Nota
			</div>
			<select ng-model="jogador.nota">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option >5</option>
				<option>6</option>
				<option>7</option>
				<option >8</option>
				<option>9</option>
				<option>10</option>
			</select>
		</label>

	</div>


</div>


  <ion-option-button class="button-assertive"
                             ng-click="jogadorCtrl.removerJogador(jogador)">

                              <i class="icon  ion-android-close"></i>
         
          </ion-option-button>
        


</ion-item>

</ion-list>



</ion-content>
</ion-view>